/* Global */

body { 
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: ghostwhite;
	position: relative;
	
}

p {
	font-size: 16px;
}

h1 {
    font-size: 25px;
}

.quote {
	font-family:  'Indie Flower', cursive;
	} 

html {
    position: relative;
    min-height: 100%;
}


.navbar-inverse {
    background-color: white;
	border-bottom-style: none;
}

.navbar-inverse .navbar-toggle {
    border-color: #222;
    border-width: 1px;
	background-color: ghostwhite;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #222;
}

.navbar-toggle .icon-bar {
    width: 25px;
    height: 2px;
}

.navbar-toggle {
    padding: 16px 26px;
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 8px;
}

input[type="submit"] {
    width: 33%;
    background-color: #333333;
	border-style: solid;
    border-width: thin;
	border-color: #333;
    padding: 6px;
	font-size: 18px;
	color: lavender;
}


@media screen and (max-width: 768px) {
input.formbutton {
	width: 100%;
} 
}



.button1  {
	background-color: lavender;
    padding: 6px;
	font-size: 16px;
	color: #333;
	border-style: solid;
    border-width: thin;
	border-color: grey;
}

.button2  { 
	font-size: 18px; 
	background-color: #333;
    padding: 12px 38px 12px 38px;
	margin: 2px;
	color: lavender;
	border-style: solid;
    border-width: thin;
	border-color: #333;
}	
	
a.button1:hover, a.button2:hover, input[type="submit"]:hover {
	text-decoration: none;
	background-color: #c5c5d2; 
	border-style: solid;
    border-width: thin;
	border-color: grey;
	color: #333;
}
	

/* Navigation & Branding */

.navbar-nav>li>.dropdown-menu {
    background-color: ghostwhite;
}

.dropdown-menu { 
font-size: 18px;
border-radius: 0px;
}

.dropdown-menu>li>a {
    padding: 18px 31px;
}

#dashedborder {
	border-bottom: #eee;
    border-bottom-style: solid;
    border-bottom-width: medium;	
}    
	


.dropdown-menu>li>a:hover {
    background-color:  lavender;
}


#navbar {
	float: right;
}   

	.nav>li>a {
    padding: 25px 60px 22px 60px;
	font-size: 18px;
 }	
	
	
@media screen and (max-width: 992px) {
	.nav>li>a {
    padding: 26px 30px 26px 30px;
	font-size: 18px;
  }	
}
	
.navbar-inverse .navbar-nav>li>a {
    color: #222;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: grey;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: lavender;
	color: #222;
}	
	
	
 .navbar-static-top {
	padding: 6px 6px 6px 6px;
    border-bottom: #eee;
    border-bottom-style: solid;
    border-bottom-width: medium;
}

.navbar-inverse a.navbar-brand {
	font-size: 27px;
	font-family: 'Indie Flower', cursive;
	padding-bottom: 52px;
	color: #333;
}

.navbar-brand {
    line-height: 47px;
}


table{
    table-layout: fixed;
}

td {
	padding: 20px 20px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: ghostwhite;
    background-color: lavender;
	word-wrap: break-word;
}

td#viewbook {
	text-align: center;
}

@media screen and (max-width: 768px) {
	
	td#viewbook { 
		display: none;
}
}


table { 
	font-size: 18px;
	width: 100%;
}


/*homepage*/


 /*New Book*/


form {
	padding-top: 35px;
}

button, input, select, textarea {
    line-height: 40px;
	border-style: none;
	background-color: lavender;
}

input#title, textarea#info, input#due_date, input#author {
	width: 90%;
}

@media screen and (max-width: 768px) {
	input#title, textarea#info, input#due_date, input#author, textarea#text, input[type="submit"] {
		width: 100%;
		}
}

@media screen and (max-width: 992px) {	
.col-md-4#leavebook { 
	display: none;
 }		
}




td:empty {
 display: none;
}

/*Footer*/

footer {
	background-color: white;
	text-align: center;
	padding-top: 30px;
	margin-top: 40px;
	width: 100%;
    min-height: 80px;
	position: absolute;
	overflow: hidden;
    bottom: 0;
	border-top: #eee;
    border-top-style: solid;
    border-top-width: medium;
}

.wrap {
    height: auto;
    margin: 0 auto -100px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 100px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}

/*Login/SignIn*/





@media screen and (max-width: 768px) {
	 input#username, input#password {
		width: 100%;
	}
}

@media screen and (min-width: 767px) {
	
	input#username, input#password {
		width: 100%;
	}
}

@media (max-width: 768px) {
	
	section {
			margin-left: 2%;
			margin-right: 2%;
	}
	
	
/* Mobile NavBar */	
	
    #NavBar{
		position: absolute;
        width: 69%;
        z-index: 9999;
		float: right;
		margin-left: 20%;
		border-style: solid;
		border-width: thin;
		background-color: lavender;
    }
	
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #c5c5d2;
	color: #222;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #222;
	padding: 14px;
}

	.navbar-static-top {
    padding: 6px 0 0px 6px;
	}

	.navbar-inverse .navbar-nav>li>a {
	border-left-style: none;	
	}
	
	.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    border-left-style: none;
	}	
}
	
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ddd;
}


