/* Global */

body { 
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: ghostwhite;
}

p {
	font-size: 16px;
}

h1 {
    font-size: 25px;
}

.quote {
	font-family:  'Indie Flower', cursive;
	} 

html {
    position: relative;
    min-height: 100%;
}

section {
	margin: 2%;
}

.navbar-inverse .navbar-toggle {
    border-color: #9d9d9d;
    border-width: 1px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #9d9d9d;
}

.navbar-toggle .icon-bar {
    width: 25px;
    height: 2px;
}

.navbar-toggle {
    padding: 16px 28px;
    margin-top: 5px;
    margin-bottom: 2px;
    border-radius: 8px;
}

input[type="submit"] {
    width: 22%;
    background-color: #333333;
    border-style: none;
    padding: 10px;
	font-size: 18px;
	color: lavender;
}

@media screen and (max-width: 768px) {
input.formbutton {
	width: 100%;
} 
}

.button1  {
    width: 22%;
    background-color: lavender; 
    border-style: none;
    padding: 6px;
	font-size: 18px;
	color: #333;
}

.button2  {
	width: 28%; 
	font-size: 22px; 
	background-color: #c5c5d2;
    border-style: none;
    padding: 7px;
	margin: 2px;
	color: #333;
}	
	
a.button1:hover {
	text-decoration: none;
	background-color:  #c5c5d2;
}
	
a.button2:hover  {
	text-decoration: none;
	background-color:  lavender;
}

/* Navigation & Branding */

#navbar {
	float: right;
}   

	.nav>li>a {
    padding: 20px 50px;
	font-size: 18px;
 }	

 .navbar-static-top {
    padding: 6px 0 6px;
}

a.navbar-brand {
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}

@media screen and (min-width: 768px) {
a.navbar-brand {
	font-size: 30px;
}
}

td {
	padding: 20px 20px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: ghostwhite;
    background-color: lavender;
}


table { 
	font-size: 18px;
	width: 100%;
}


/*homepage*/

@media only screen (max-width : 992px) {
.col-md-8 {
	float: left;
}

.col-md-4 {
	float: right;
 }
}

.col-md-4 {
	text-align: left;
 }

 /*New Book*/


form {
	padding-top: 35px;
}

button, input, select, textarea {
    line-height: 40px;
	border-style: none;
	background-color: lavender;
}

input#title, textarea#info, input#due_date {
	width: 90%;
}

@media screen and (max-width: 768px) {
	input#title, textarea#info, input#due_date, textarea#text, input[type="submit"]{
		width: 100%;
	} 
}


/*Footer*/

footer {
	background-color: #efeeee;
	text-align: center;
	padding-top: 20px;
	width: 100%;
    height: 60px;
	position: absolute;
	overflow: hidden;
    bottom: 0;
}

/*Login/SignIn*/



input#username, input#password {
    width: 100%;
}

@media screen and (min-width: 768px) {
	.row #signin {
    margin-left: 25%;
}
input#username, input#password {
    width: 57%;
}
}
