<html lang='en'>
  <head>
    {% if title %}
    <title>{{title}} - Bookclub App</title>
    {% else %}
    <title> Bookclub App </title>
    {% endif %}
	<link rel="shortcut icon" href="/static/images/favicon1.ico"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="all" type="text/css">
	<link href="/static/css/custom.css" rel="stylesheet" media="all" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://use.fontawesome.com/f7fafa975b.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Gloria+Hallelujah|Architects+Daughter|Handlee|Dosis|Shadows+Into+Light|Ruda" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="/"><i class="fa fa-book" aria-hidden="true"></i> Bookclub App</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
		    {% if g.user.is_authenticated %}
            <li><a href='/index'>Home</a></li>
            <li><a href='/book'>New Book</a></li>
            <li><a href='/logout'>Sign Out</a></li>
            {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
    </nav>
	<section>
    <div class="container">
      <div class="row">
      {% with messages=get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li> {{message}} </li>
      {% endfor %}
    </ul>
    <hr>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %} 
</div>
</div>
<br>
<br>
<br>
</section>
<footer> 
<p>© SSD 2017</p> 
 </footer>
 <script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 </body>
</html>
