{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row"> 
		<div class="col-md-12">
			<h1>{{book.title}}</h1>
			<br>
		</div>
	</div>
</div>	

<div class="container">
	<div class="row"> 
		<div class="col-md-12">
			<table>
			<tr>
			<td><i class="fa fa-book" aria-hidden="true"></i> Book Title:</td> <td>{{book.title}}</td>
			</tr>
			<tr>
			<td><i class="fa fa-calendar" aria-hidden="true"></i>  Discussion Date:</td> <td>{{book.due_date}}</td>
			</tr>
			<tr>
			<td><i class="fa fa-user" aria-hidden="true"></i>  Proposed By:</td> <td>{{book.author.nickname}}</td>
			</tr>
			{% if book.info is not none %}
			<tr>
			<td colspan="2">
			{{book.info }}</td>
			</tr>
			</table>
			<br>
			<br>
			{% endif %}
			{% if book.author.id == g.user.id %}<p> 
			<a href='/book/{{book.title}}/edit'class='button1'>Edit Info</a>
			<a href='/book/{{book.title}}/delete' onclick="return confirm('Are you sure you want to delete?')" class='button1'>Delete Book</a>
			</p>{% endif %}
			<hr>
		</div>
	</div>
</div>	
<div class="container">
	<div class="row"> 
		<div class="col-md-12">
			{% for review in reviews %}
			<p>
			{{review.author.nickname}} gives {{review.star}}/5<br>
			{% if review.text is not none %}
			<blockquote>{{review.text}}<br>
			{% if review.author.nickname == g.user.nickname %}
			<br>
			<a href='/book/{{book.title}}/review/edit'class='button1'>Edit Review</a>
			<a href='/book/{{book.title}}/review/delete' onclick="return confirm('Are you sure you want to delete your review?')"class='button1'>Delete Review</a>
			{% endif %}
			</blockquote>
			{% endif %}
			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row"> 
		<div class="col-md-12">
			{% endfor %}
			<br>
			<p> <a href='/book/{{book.title}}/review' class='button2'>Leave Book Review</a></p>
			<br>
			<br>
			<p> <a href="{{url_for('notify_all', title=book.title)}}" onclick="return confirm('Are you sure you want to notify everyone?')" class='button1'>Notify all users of discussion date</a></p>
		    <br> 
		</div>
	</div>
</div>
{% endblock %}
