{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row"> 
		<div class="col-md-8">
      <h1>{{poll.date}} Poll</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row"> 
		<div class="col-md-12">
			<table>
			<tr>
        <td> Poll created by:</td> 
        <td>{{creator}}</td>
			</tr>
			{% if poll.info is not none %}
			<tr>
			<td colspan="2">{{poll.info}}</td>
			</tr>
      {% endif %}
      {% for option in optionList %}
      <tr>
        <td>{{option[0]}}</td>
        <td>{{option[1]}}</td>
      </tr>
      {% endfor %}
			</table>
			<hr>
		</div>
	</div>
</div>	

{% endblock %}
