{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row"> 
		<div class="col-md-12">
			<h1>{{user.nickname}}'s Bookclub List</h1>
		</div>
	</div>
</div>	
<div class="container">
	<div class="row"> 
		<div class="col-md-12">
		    <br>
				<table>
				  {% for  book in books %}
				  <tr>
					<td><a href='/book/{{book.title}}' style="color: #333;"><i class="fa fa-calendar" aria-hidden="true"></i>  {{book.due_date}}</a></td>
					<td><a href='/book/{{book.title}}' style="color: #333;">{{book.title}}</a></td>
					<td id="viewbook"><a href='/book/{{book.title}}' class='button2' style="padding: 3% 12%; font-size: 18px;"> View Discussion </a></td>
				  </tr>
				  {% endfor %}
				</table>
		</div>
	    <div class="col-md-12">
			<br>
			<br>
      <h2 class='quote'><i class="fa fa-quote-left" aria-hidden="true"></i> {{quote}}  <i class="fa fa-quote-right" aria-hidden="true"></i></h2>
	        <br>
			<br>
		</div>
	</div>
</div>	
  <div class="container">
	<div class="row"> 
		<div class="col-md-12">
	       <h1> {{user.nickname}}'s Reading List</h1>
		   <br>
		</div>
	</div>
</div>		
<div class="container">
	<div class="row"> 	
		<div class="col-md-12">
      <table>
        {% for wbook in wbooks %}
        <tr>
          <td> {{wbook.title}}</td>
          <td> {{wbook.author}}</td>
          <td id="viewbook"> {{wbook.info}}</td>
          <td id="viewbook"><a href='/wishlist/{{wbook.title}}/edit' style="padding: 3% 12%; font-size: 18px;" class='button2'>Edit Book</a></td>
          <td id="viewbook"><a href='/wishlist/{{wbook.title}}/delete' style="padding: 3% 12%; font-size: 18px;" onclick="return confirm('Are you sure you want to delete {{wbook.title}}?')" class='button2'>Delete Book</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
	</div>
</div>	
<br>	

{% endblock %}
