{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row"> 
		<div class="col-md-12">
      <h1> {{title}}</h1>
		</div>
	</div>
</div>	
<div class="container">
	<div class="row"> 
		<div class="col-md-6">
			<form action="" method="post" name="review">
			  {{form.hidden_tag()}}
			  <p> {{g.user.nickname}} gives {{form.star}}/5<br>
			  {% for error in form.star.errors %}
			  <span style='color: red;'>[{{error}}]</span>
			  {% endfor %}<br>
			  </p>
			  <p> and says:<br>
        {{form.text (cols=80, rows=5)}}<br>
        <span id="characters"></span>/550<br>
			  {% for error in form.info.errors %}
			  <span style='color: red;'>[{{error}}]</span>
			  {% endfor %}</p>
			  <p><input type="submit" value="Save Review"></p>
			</form>
		</div>
		<div class="col-md-6">
      {% for quote in quotes %}
      <br>
			<br> 
      <br>

      <h2 class='quote'><i class="fa fa-quote-left" aria-hidden="true"></i>{{quote}}<i class="fa fa-quote-right" aria-hidden="true"></i></h2>
      {% endfor %}
    </div>
	</div>
</div>	
{% endblock %}
