{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row"> 
		<div class="col-md-12">
			<h1> {{title}} </h1>
		</div>
	</div>
</div>	
		
<div class="container">
	<div class="row"> 
		<div class="col-md-8">
			<form id="addbookform" action="" method="post" name="post">
			  {{ form.hidden_tag() }}
			  <p>Book Title:<br>
			  {{form.title(size=80)}}<br>
			  {% for error in form.title.errors %}
			  <span style='color: red;'>[{{error}}]</span>
			  {% endfor %}</p>
        <p>Author:<br>
        {{form.author(size=80)}}<br>
        <p>Further Info:<br>
        {{form.info (cols=80, rows=10)}}<br>
        <span id="characters">
          {% if length_chars is not none %}
          {{length_chars}}
          {% else %}0{% endif %}</span>/550<br>
			  {% for error in form.info.errors %}
			  <span style='color: red;'>[{{error}}]</span></p>
			  {% endfor %}
			  <br>
			  <p><input type="submit" value="Save Book" class="formbutton"></p>
			</form>
		</div>
	</div>
</div>	

{% endblock %}
