{% extends 'base.html' %}
{% block content %}
<h1> {{title}} </h1>
<div class="container">
	<div class="row"> 
		<div class="col-md-8">
			<form id="addbookform" action="" method="post" name="post">
			  {{ form.hidden_tag() }}
			  <p>Book Title:<br>
			  {{form.title(size=80)}}<br>
			  {% for error in form.title.errors %}
			  <span style='color: red;'>[{{error}}]</span>
			  {% endfor %}</p>
        <p>Author:<br>
        {{form.author(size=80)}}<br>
        <p>Further Info:<br>
        {{form.info (cols=80, rows=10)}}<br>
        <span id="characters"></span>/550
			  </p>
			  <p><input type='submit' value='Save Book' class='formbutton'></p>
			</form>
		</div>
	</div>
</div>	

{% endblock %}
