{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row"> 
		<div class="col-md-12">
			<h1>Poll List</h1>
		</div>
	</div>
</div>	
<div class="container">
	<div class="row"> 
		<div class="col-md-12">
		    <br>
				<table>
				  {% for poll in polls %}
				  <tr>
            <td><a href="/poll/{{poll.id}}/display" style="color: #333;"><i class="fa fa-calendar" aria-hidden="true"></i>  {{poll.date}}</a></td>
            {% if poll.info is not none %}
            <td><a href="/poll/{{poll.id}}/display" style="color: #333;">{{poll.info}}</a></td>
            {% endif %}
            <td><a href="/poll/{{poll.id}}/vote" style="padding: 3% 12%; font-size: 18px;"  class='button2'>Vote in Poll</a></td>
            <td><a href="/poll/{{poll.id}}/delete" style="padding: 3% 12%; font-size: 18px;" onclick="return confirm('Are you sure you want to delete this poll?')" class='button2'>Delete Poll</a></td>
				  </tr>
				  {% endfor %}
				</table>
		</div>
	    <div class="col-md-12">
			<br>
			<br>
      <h2 class='quote'><i class="fa fa-quote-left" aria-hidden="true"></i> {{quote}}  <i class="fa fa-quote-right" aria-hidden="true"></i></h2>
	        <br>
			<br>
		</div>
	</div>
</div>	
{% endblock %}
