{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row"> 
    <div class="col-md-4">
      <h1>{{title}}</h1>
    </div>
    <div class="col-md-4" id='leavebook' style= 'padding-right: 8%'>
      <input type='submit' form="voteform" value='Submit Vote' style='float: right; width: 88%;' class='formbutton'>
    </div>  	
  </div>
</div>	

<div class="container">
  <div class="row"> 
    <div class="col-md-8">
      <form id="voteform" action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <p>What book do you want to vote for?:<br>
        {{form.voteChoice}}<br><br>
       </p>
      </form>
    </div>
  </div>
</div>


<div class="col-md-4">
  {% for quote in quotes %} 
  <br>
  <h2 class='quote'><i class="fa fa-quote-left" aria-hidden="true"></i>{{quote}} <i class="fa fa-quote-right" aria-hidden="true"></i></h2>
  {% endfor %}
</div>

{% endblock %}
