{% extends 'base.html' %}
{% block content %}
<div class "container">
  <div class="row">
    <div class="col-md-12">
      <h1> {{user.nickname}}'s Wishlist</h1>
      <br>
      <table>
        {% for book in books %}
        <tr>
          <td> {{book.title}}</td>
          <td> {{book.author}}</td>
          <td> {{book.info}}</td>
          <td><a href='/wishlist/{{book.title}}/edit' class='button1'>Edit</a></td>
        </tr>
        {% endfor %}
      </table>
			<a href='/wishlist/new' class='button1'>Add Book</a>
    </div>

    <div class="col-md-12">
      <br>
      <br>
      <h2 class='quote'><i class="fa fa-quote-left" aria-hidden="true"></i> {{quote}}  <i class="fa fa-quote-right" aria-hidden="true"></i></h2>
    </div>
  </div>
</div>		
{% endblock %}

